/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Make footer dark regardless of the website theme */
:root {
  --footer-background-color: #202020;
  --footer-foreground-color: #ccc;
  --copyright-link-color: #96d26e;
}

html[data-theme="dark"] .footer {
  background-color: var(--footer-background-color);
}

html[data-theme="light"] .footer {
  background-color: var(--footer-background-color);
}

.footer__links {
  color: var(--footer-foreground-color);
}

.footer__link-item:hover {
  color: var(--footer-foreground-color);
}

.footer__link-item {
  color: var(--footer-foreground-color);
}

/* Remove Docusaurus icons next to links */
footer.footer .footer__link-item svg {
  display: none;
}

footer.footer .footer__copyright {
  color: #ccc;
  font-size: 0.85rem;
}

/* Keep copyright links in the footer the same color regardless of light or dark theme. */
.copyright-link {
  color: var(--copyright-link-color);
}

.copyright-link:hover {
  color: var(--copyright-link-color);
}
