# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Publish Ozone docs
on:
  schedule:
    - cron: '29 12 * * *'
  workflow_dispatch:
jobs:
  regenerate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ozone
        uses: actions/checkout@v4
        with:
          repository: apache/ozone
          path: ozone
      - name: Build Ozone docs
        working-directory: ozone
        run: |
          mvn --no-transfer-progress -pl :hdds-docs clean package
          mv hadoop-hdds/docs/target/classes/docs ../edge
      - name: Checkout Ozone Site generated version
        uses: actions/checkout@v4
        with:
          path: site
          ref: asf-site
      - name: Store updated docs
        working-directory: site
        run: |
          OZONE_SHA=$(git -C ../ozone rev-parse HEAD)
          rm -fr docs/edge
          mv ../edge docs/
          git add docs/edge
          git status
          git config --global user.name 'Github Actions'
          git config --global user.email 'noreply@github.com'
          git commit -m "[auto] Generated docs from Apache Ozone master $OZONE_SHA" || true
          git push
